@import '../../assets/scss/_colors.scss';
@import '../../assets/scss/_typos.scss';
@import '../../assets/responsive/_responsive.scss';

.projets {
  padding: 2rem 1rem;
  background-color: $MarinBlue;
  color: $white;

  h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-family: "Josefin Sans", sans-serif;
    color: $LightBlue;
  }

  .projectList {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .projectCard {
    background-color: $white;
    border-radius: 10px;
    overflow: hidden;
    color: $MarinBlue;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 100%;

    @include tablet {
      width: 45%; // 2 par ligne sur tablette
    }

    @include desktop {
      width: 30%; // 3 par ligne sur desktop
    }

    img {
      width: 100%; /* Assure que l'image occupe toute la largeur du conteneur */
      height: 20rem; /* Hauteur fixe pour limiter la taille */
        object-fit: cover; /* Recadre l'image pour remplir le conteneur */
      object-position: center; /* Centre l'image dans son conteneur */
      display: block; /* Supprime l'espace sous l'image */
    }

    .content {
      padding: 1rem;

      h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        text-align: center;
        font-family: "Josefin Sans", sans-serif;
      }

      .year {
        font-size: 0.9rem;
        color: $LightBlue;
        text-align: center;
        margin-bottom: 1rem;
      }

      .description {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;
        margin-bottom: 1rem;

        .tag {
          background-color: $MarinBlue;
          color: $white;
          padding: 0.2rem 0.5rem;
          text-align: center;
          border-radius: 5px;
          font-size: 0.8rem;
        }
      }

      .links {
        display: flex;
        gap: 1rem;

        a {
          color: $MarinBlue;
          font-size: 1.2rem;

          &:hover {
            color: $LightBlue;
          }
        }
      }
    }
  }
}
